/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName : ".*PREPARE_GENOME:.*" {
        publishDir = [
            path: { "${params.outdir}/genome" },
            mode: params.publish_dir_mode,
            enabled: params.save_reference
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: TRIMMOMATIC {
        publishDir = [
            enabled: false
        ]
        ext.args2 = 'ILLUMINACLIP:TruSeq3-PE.fa:2:30:10:2:True LEADING:3 TRAILING:3 MINLEN:36'
    }

    //
    // Alignment, Picard MarkDuplicates and Filtering options
    //

    withName: '.*FASTQ_ALIGN_BWAALN:.*' {
        publishDir = [
            [
                path: { "${params.outdir}/alignment/bwa" },
                mode: params.publish_dir_mode,
                pattern: '*.{bam,bai}',
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }

    withName: '.*BAM_MARKDUPLICATES_PICARD:PICARD_MARKDUPLICATES.*' {
        ext.args   = '--ASSUME_SORTED true --REMOVE_DUPLICATES false --VALIDATION_STRINGENCY LENIENT --TMP_DIR tmp'
        ext.prefix = { "${meta.id}.md" }
        publishDir = [
            [
                path: { "${params.outdir}/reports/markduplicates" },
                mode: params.publish_dir_mode,
                pattern: '*metrics.txt',
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ],
            [
                path: { "${params.outdir}/alignment/markduplicates" },
                mode: params.publish_dir_mode,
                pattern: '*.md.{bam,bai}',
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                //enable: params.save_markduplicates_bam
            ]
        ]
    }

    withName: '.*BAM_MARKDUPLICATES_PICARD:SAMTOOLS_INDEX.*' {
        ext.prefix  = { "${meta.id}.markdup.sorted" }
        publishDir  = [
            path: { "${params.outdir}/alignment/markduplicates" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: '*.{bai,csi}'
        ]
    }

    withName: '.*BAM_MARKDUPLICATES_PICARD:BAM_STATS_SAMTOOLS.*' {
        ext.args    = ""
        publishDir  = [
            path: { "${params.outdir}/reports/samtools_stats/${meta.id}/md/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: '*.{stats,flagstat,idxstats}'
        ]
    }

    withName : ".*SAMTOOLS_FAIDX.*" {
        publishDir = [
            path: { "${params.outdir}/genome" },
            mode: params.publish_dir_mode,
        ]
    }

    withName : ".*DEEPTOOLS_BAMCOVERAGE.*" {

        publishDir = [
            path: { "${params.outdir}/single_tracks/deeptools" },
            mode: params.publish_dir_mode,
            pattern: '*.bigWig'
        ]
    }

    withName : ".*RTWOSAMPLESMLE.*" {
        publishDir = [
            path: { "${params.outdir}/comparisons/spp_mle" },
            mode: params.publish_dir_mode,
        ]
    }


}

if (params.blacklist != null) {
        process {
            withName: '.*DEEPTOOLS_BAMCOVERAGE.*' {
                ext.args    = "–blackListFileName ${params.blacklist}"
            }
            }
}



