/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/sammyseq -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '2.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Groups Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function with a complete analysis'

    // Input data
    input  = 'https://genome.isasi.cnr.it/biocomp/test-datasets/mouse_MEFACKOvsWT/test_mm_chr4chr8_ss.csv'

    // Analysis details
    normalizeUsing = 'RPKM'
    bw_resolution = 50
    extendReads = 250
    comparison_maker = 'spp'
    comparison = 'S2SvsS3'
    compartmentalization_analysis = true
    differential_solubility = true
    compare_groups = 'MEFACKOvsMEFwt'
    binsize = 150000

    // Genome references
    fasta  = 'https://genome.isasi.cnr.it/biocomp/test-datasets/refs/mm10/chr4chr8.fa.gz'
    blacklist = 'https://raw.githubusercontent.com/daisymut/test-datasets/e774a4b965c23ac599b9d663f92cd1328ec83f0f/testdata/mm10-blacklist.v2.chr4chr8.bed'
    gtf = 'https://raw.githubusercontent.com/daisymut/test-datasets/e774a4b965c23ac599b9d663f92cd1328ec83f0f/testdata/gencode.vM25.basic.annotation.chr4chr8.gtf'
    }